#heroCarousel {
    position: relative;
    z-index: 1;
}

.navbar-top, .navbar-menu, .navbar {
    position: absolute !important;
    left: 0;
    width: 100%;
    z-index: 10;
    z-index: 999 !important;
}
.navbar-top {
    top: 0;
}
.navbar-menu {
    top: 56px; 
}

.carousel-indicators [data-bs-target] {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
    background-color: #ffffff;
    opacity: 0.6;
    margin: 0 5px;
    border: none;
    transition: all 0.3s ease;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #8B941F !important; 
}


.titulo-container {
    text-align: center;
    position: relative;
    z-index: 999 !important;
}

.titulo-container h2::before,
.titulo-container h2::after {
    content: "";
    display: block;
    width: 30%;
    height: 1px;
    background-color: white;
    margin: 20px auto;
    z-index: 999 !important;
}

.blur-green {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%; 
    background: linear-gradient(to bottom, #131F1D, rgba(0, 128, 0, 0));
    pointer-events: none;
    z-index: 1;
}

.bi-whatsapp {
    gap: 0 !important;
    color: white !important;
    background-color: transparent !important;
}

.bi {
    color: #fff;
    background-color: #8B941F;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    gap: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-contato {
    background-color: #8B941F !important;
    color: white !important;
}

.highlight {
    color: #8B941F;
}

.circle-number {
    background-color: #8B941F;
    color: white;
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    flex-shrink: 0;
}

.underline {
    width: 20%;
    height: 2px;
    background-color: #8B941F;
    margin: 0 auto 30px;
}

.sobre {
    border-bottom: 2px solid #8B941F;
    width: 150px;
}

.btn-dark {
    background-color: #092820 !important;
}
